body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

header img {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}